<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
  <system.web>

  </system.web>
  <sitecore>
    <settings>
      <setting name="ElasticSearch.Protocol" value="http"/>
      <setting name="ElasticSearch.Host" value="localhost"/>
      <setting name="ElasticSearch.Port" value="9200"/>
      <setting name="ElasticSearch.ArticleIndex" value="article-index"/>
    </settings>
    <commands>
      <command name="scdev:elastic:indexing:refreshtree"
               type="scdev.local.project.Infrastructure.RefreshTree, scdev.local.project"/>
      <command name="scdev:elastic:indexing:recreateindexes"
               type="scdev.local.project.Infrastructure.ReCreateIndexes, scdev.local.project"/>
    </commands>
  </sitecore>
</configuration>
